.about{
    padding-top: 30px;
    background-image: linear-gradient(white, #FBA92C);
    text-align: center;
}
.about .heading{
    font-size: 40px;
    text-align: center;
}

.about-wrapper{
    display: flex;
    align-items: center;
}
.about-left{
    flex: 1;
    overflow: hidden;
}
.about-right{
    flex: 1;
}
.about-left,
.about-right{
    padding: 50px;
    font-size: 25px;
}
.about-photo{
    width: 80px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.about .arrowDown{
    width: 40px;
    animation: Blink 2s infinite;
}
@keyframes Blink {
    100%{
        opacity: 0.1;
    }
}
@media screen and (max-width: 800px) {
    .about-wrapper{
        flex-direction: column;
    }
}
@media screen and (max-width: 450px) {
    .about-wrapper > *{
        padding: 10px;
    }
}