.about{
    background-color: #9E9E9E;
    text-align: center;
}
.about-wrapper{
    display: flex;
    align-items: center;
}
.about-left{
    flex: 1;
    overflow: hidden;
}
.about-right{
    flex: 1;
}
.about-photo{
    width: 100px;
    margin: 0 auto;
}