.contact{
    padding-top: 30px;
    background-color: #ffffff;
    display: flex;
}
.contact .left{
    flex: 1;
    overflow: hidden;
    margin-bottom: 10px;
}
/* .contact img{
    height: 100%;
} */
.contact .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact h2{
    font-size: 30px;
}
.contact form{
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact input{
    width: 300px;
    height: 30px;
    font-size: 14px;
    border: 2px solid;
}

.contact textarea{
    width: 300px;
    height: 200px;
    font-size: 14px;
    border: 2px solid;
}

.contact button{
    width: 150px;
    height: 30px;
    color: #141414;
    background-color: #FBA92C;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.contact button:focus{
    outline: none;
}

.contact span{
    color: #FBA92C;
}
.contact-list{
    background-color: #141414;
    color: #FBA92C;
    font-size: 20px;
    height: 600px;
    margin: 50px;
    border-radius: 20px;
}
.contact-list li{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contact-list li a{
    color: #FBA92C;
    text-decoration: none;
    font-size: 20px;
}
.contact-icon{
    width: 50px;
    height: 50px;
    border-radius: 11px;
    margin-bottom: 10px;
}

.contact .right input,
.contact .right textarea{
    border-radius: 5px;
    padding-left: 5px;
}
@media screen and (max-width: 860px) {
    .contact{
        flex-direction: column;
    }
    .contact-list{
        flex-direction: row;
        font-size: 20px;
        height: 300px;
        margin: 50px;
        border-radius: 20px;
    }
    .contact-list li{
        flex-direction: row;
    }
  
    .contact form > *{
        width: 500px;
        height: 60px;
        margin-bottom: 10px;
    }
    .contact textarea{
        height: 100px;
    }

  }
@media screen and (max-width: 600px) {
    .contact form > *{
        width: 250px;
    }
  
  }