.contact{
    background-color: #ffffff;
    display: flex;
}
.contact .left{
    flex: 1;
    overflow: hidden;
}
.contact img{
    height: 100%;
}
.contact .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact h2{
    font-size: 30px;
}
.contact form{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact input{
    width: 300px;
    height: 30px;
    font-size: 14px;
}

.contact textarea{
    width: 300px;
    height: 200px;
    font-size: 14px;
}

.contact button{
    width: 150px;
    height: 30px;
    color: #141414;
    background-color: #FBA92C;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.contact button:focus{
    outline: none;
}

.contact span{
    color: #FBA92C;
}
