.home{
    background-color: #FFFFFF;
    display: flex;
}
.home .left{
    flex: 0.5;
    overflow: hidden;
}
.home .right{
    flex: 0.5;
}
.home .profile-image{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.home .profile-image img{
   margin-top: 50px; 
}
/* .home .profileImage{
    margin-top: 100px;
    width: 600px;
    height: 600px;
    background-color: #FBA92C;
    border-radius: 50px 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
}
.home .profileImage img{
    height: 75%;
} */
.home .wrapper{
   height: 100%;
   width: 100%;
   padding-left: 50px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.home .wrapper h2{
    font-size: 35px;
}
.home .wrapper h1{
    font-size: 60px;
    margin: 10px 0;
    color: #FBA92C;
}
.home .wrapper h3{
    font-size: 30px;
}
.home a{
    position: absolute;
    bottom: 10px;
    left: 44.5%;
}
.home .right img{
    width: 40px;
    animation: Blink 2s infinite;
}
@keyframes Blink {
    100%{
        opacity: 0.1;
    }
}
.home span{
    font-size: inherit;
    color: #FBA92C;
}

@media screen and (max-width: 450px){
    .home {
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    .home .wrapper{
        border: 5px solid #141414;
        border-radius: 20px;
        text-align: center;
        padding-left: 0;
    }
    .home .left{
        display: none;
    }
    .home .wrapper h3{
        font-size: 25px;
    }
    /* .home .wrapper span{
        display: block;
    } */
}