.home{
background-color: white;
display: flex;
}
.home .left{
    flex: 0.5;
    overflow: hidden;
}
.home .right{
    flex: 0.5;
}
.home .profile-image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(#FBA92C, white);
    border-radius: 35%;
    margin: 80px;
}
.home .profile-image img{
   margin-top: 50px;
   
}
.home .wrapper{
   height: 100%;
   width: 100%;
   padding-left: 50px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.home .wrapper h2{
    font-size: 35px;
}
.home .wrapper h1{
    font-size: 60px;
    margin: 10px 0;
    color: #FBA92C;
}
.home .wrapper h3{
    font-size: 30px;
}
.home a{
    position: absolute;
    bottom: 10px;
    left: 48.5%;
}
.home .arrowDown{
    width: 40px;
    animation: Blink 2s infinite;
}
@keyframes Blink {
    100%{
        opacity: 0.1;
    }
}
.home span{
    font-size: inherit;
    color: #FBA92C;
} 
@media screen and (max-width: 1025px){
    .home a{
        left: 48%;
    }
}
@media screen and (max-width: 768px){
    .home .profile-image{
        margin: 30px;
    }
    .home a{
        left: 47.5%;
    }
}
@media screen and (max-width: 450px){
    .home {
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    .home .wrapper{
        border: 5px solid #141414;
        border-radius: 20px;
        text-align: center;
        padding-left: 0;
    }
    .home .left{
        display: none;
    }
    .home .wrapper h3{
        font-size: 25px;
    }
    .home a{
        left: 45%;
    }
}