.skills{
    background-image: linear-gradient(#141414, white);
    padding-top: 30px;
    color: #FBA92C;
}
.skills .heading{
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
.skills-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills-list > *{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills-icon{
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}
.skills .arrowDown,
.skills .arrowUp{
  display: block;
  margin: 0 auto;
  width: 40px;
}
@media screen and (max-width: 500px) {
  .skills-list{
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    
  }
}