.work{
    background-color: #FBA92C;
    text-align: center;
}
.work .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.project{
    margin: 20px;
    padding: 20px;
    border: 2px solid #141414; 
    border-radius: 15px;
}

.project-photo{
    border-radius: 20px;
    width: 330px;
    height: 230px;
}
