.work{
    padding-top: 100px;
    background-color: #FBA92C;
    text-align: center;
}
.work .heading{
    font-size: 40px;
    text-align: center;
    padding-bottom: 100px;
}

.work .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.project{
    margin: 20px;
    padding: 20px;
}
.project:hover{
    box-shadow: 10px 10px 25px #141414;
    border-radius: 15px;

}

.project-photo{
    border-radius: 20px;
    width: 330px;
    height: 230px;
    /* box-shadow: 15px  15px 15px 15px #141414; */
}

