.work{
    padding-top: 30px;
    background-color: #FBA92C;
    text-align: center;
}
.work .heading{
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}
.work .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.project{
    margin: 20px;
    padding: 40px;
}
.project:hover{
    box-shadow: 10px 10px 25px #141414;
    border-radius: 15px;
}
.project h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.links{
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}
.links a:hover{
    color: #FBA92C;
    background-color: #141414;
    border-radius: 10px;
}
.links a{
    color: #141414;
    border: 2px solid #141414;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
}
.project-photo{
    border-radius: 20px;
    width: 380px;
    height: 250px;
}

@media screen and (max-width: 930px) {
    .work .wrapper{
        grid-template-columns: 1fr;
    }
    .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
@media screen and (max-width: 500px){
    .project-photo{
        width: 300px;
        height: 210px;
    }
}
@media screen and (max-width: 400px){
    .project-photo{
        width: 230px;
        height: 150px;
    }
}

