.work{
    padding-top: 30px;
    background-image: linear-gradient(#FBA92C, #141414);
    text-align: center;
    color: wheat;
}
.work .heading{
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.work h2{
    color: #141414;
}
.work p{
    text-align: justify;
}
.work .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
}
.project{
    margin: 20px;
    padding: 40px;
}
.project:hover{
    box-shadow: 10px 10px 25px #141414;
    border-radius: 15px;
    background-color: #141414;
}
.project h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.project p{
    font-size: 20px;
}
.links{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: self-end;
}
.links a{
    color: wheat;
    border: 2px solid wheat;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    width: 120px;
}
.links a:hover{
    color: #141414;
    background-color: wheat;
    border-radius: 10px;
}
.project .active{
    margin-bottom: 10px;
    background-color: #FBA92C;
    color: #141414;
}
.project-photo{
    border-radius: 20px;
    width: 380px;
    height: 250px;
}
@media screen and (max-width: 930px) {
    .work .wrapper{
        grid-template-columns: 1fr;
    }
    .work p{
        font-size: 18px;
    }
    .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 25px #141414;
    border-radius: 15px;
    background-color: #141414;
    }
    
    .links{
        display: flex;
        flex-direction: column;
    }
    
    .links a{
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 500px){
    .project-photo{
        width: 300px;
        height: 210px;
    }
}
@media screen and (max-width: 400px){
    .project-photo{
        width: 230px;
        height: 150px;
    }
}

