.app{
    height: 100vh;
}

.app .sections{
    width: 100%;
    height: calc(100vh - 55px);
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    /* firefox */
}
.app .sections::-webkit-scrollbar{
    display: none;
    /* chrome */
}
.app .sections > * {
    width: 100vw;
    height: calc(100vh - 55px);
    scroll-snap-align: start;
}
